body {
    height:100vh;
    width: 100%;
}

table, tbody, th, td, tr{
    height: 0;
}

select{
    border: 1px solid #FF8C00;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* MAIN STYLESHEET TEMPLATE ================================================ */

#wrapper {
    height:100vh;
    position:relative;
}
#header {
    height: 40px;
    background: #367ABD;

}
#content {
    position: relative;
    height: calc(100% - 100px);
    width: 100%;
}

#left-column{
    background-color: #eaeaea;
}

#right-column{
    background-color: #dddddd;
}

#footer {
    display: block;
    position: relative;
    height:50px;
    bottom:0;
    left:0;
    background: #367ABD;
}

/* NAVBAR STYLE ========================================================= */

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border-style: none;
    
    background-color: #367ABD;
}

.navbar-brand img{
    position: absolute;
    top: 5px;
    height: 80%;
}

.navbar-right{
    position: absolute;
    top: 0;
    right: 15px;
}

.navbar-default .navbar-nav > li{
    background-color: #FF8C00;
    color: white;
}

.navbar-default .navbar-nav > li > a{
    display: block;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li a:hover{
    background-color: #ECD83B;
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-nav > li a:active{
    background-color: #AF8F14;
    color: white;
    text-decoration: none;
}

/* REGISTRATION & LOGIN STYLE ================================================ */


.submit-form{
    padding-top: 15px;
    color: #696969;
}

.content-header{
    width: 50%;
    height: 40px;
    padding-top: 7px;
    margin: 0 auto;

    color: white;
    background-color: #367ABD;

    border-radius: 3px;
    box-shadow: 0px 5px 10px #b0b0b0;
}

.content-form{
    width: 70%;
    height: 300px;
    margin: 0 auto;
}

.submit-form-fields{
    margin-top: 20px;
    height: 40px;
}

.submit-form-fields input{
    border-style: none;
    border-bottom: 1px solid #FF8C00;
}

.from-group{
    padding-top: 30px;
}

.submit-form-fields-submit{
    height: 20px;
    margin-top: 70px;
}

#register-form-left{
    display: block;
    width: 50%;
}

#register-form-right{
    display: block;
    width: 50%;
}

#create-form .submit-form-fields input{
    width: 200px;
}

#budget-content-form{
    height: 0;
}

.budget-form div{
    height: 30px;
}

.budget-form{
    display: block;
    margin: 0px auto 10px auto;
    padding: 20px;
    width: 100%;

}

.budget-content{
    position: relative;
    width: 100%;
    height: 30%;
    display: block;
}


/* BUTTONS ========================================================= */

.button-section{
    padding-top: 40px;
    padding-bottom: 60px;
}
.button-section #submit{
    background-color: #FF8C00;
    border-style: none;
    border-radius: 3px;
    padding: 7px;
    color: white;
}

#submit:hover{
    background-color: #ECD83B;
    color: white;
    text-decoration: none;
}

#submit:active{
    background-color: #AF8F14;
    color: white;
    text-decoration: none;
}

/* PROJECT LIST & TRANSACTION LIST ===================================== */

.scroll-area{
    display: block;
    float:left;
    overflow-y:scroll;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.16);

}

.scroll-area::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.scroll-area::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.scroll-area::-webkit-scrollbar-thumb
{
    background-color: #aeaeae;
}

#left-column table{
    margin-top: 20px;
}
#left-column tbody tr {
    background-color: #ffffff;
}

#left-column .table-hover tbody tr:hover td, #left-column .table-hover tbody tr:hover th {
    background-color: #FF8C00;
    color: #ffffff;
    cursor: pointer;
}

.repo-button{
    background-color: #FF8C00;
    border-style: none;
    border-radius: 3px;
    color: white;
}

#right-column table{
    margin-top: 20px;
    width: 95%;
}

#right-column tbody td,
#right-column tbody tr,
#right-column tbody tr th{
    background-color: #d8edf3;
}

#right-column tbody td:nth-of-type(odd),
#right-column body tr:nth-of-type(odd){
    background-color: #b1d9e7;
}

thead{
    background-color: #367ABD;
    color: #ffffff;
}

thead th:nth-of-type(even){
    background-color: #095a8e;
}

#right-column .table-hover tbody tr:hover td, #right-column .table-hover tbody tr:hover th {
    background-color: #FF8C00;
    color: #ffffff;
    cursor: pointer;
}

.footer-button{
    margin: 12px 12px 0 0;
    background-color: #FF8C00;
    border-style: none;
    border-radius: 3px;
    color: white;
}

.cp-button{
    background-color: #FF8C00;
    border-style: none;
    border-radius: 3px;
    color: white;
}

.repeatIBAN{
    visibility: hidden;
}

/* PROJECT TEMPLATE ============================================================= */

#left-column .list-group{
    height: 45px;
    margin-top: 10px;
}

#left-column .list-group > li{
    background-color: #095a8e;
    color: #ffffff;
    border: none;
    border-radius: 0 0 0 0;
}
#left-column .list-group > li:nth-of-type(even){
    background-color: #367ABD;
    color: #ffffff;
}

#left-column tbody tr > th{
    background-color: #ff8c00;
    color: #ffffff;
}
#left-column tbody tr > td{
    background-color: #ffffff;
    color: #367ABD;;
}

#left-column .table-hover tbody .project-row td{
    background-color: #b1d9e7;
    color: #000000;
}

#left-column .table-hover tbody .transaction-row th{
    background-color: #ffffff;
}

#left-column .table-hover tbody > .transaction-row{
    border: 2px solid #b1d9e7;
    color: #439dbb;
}

/* BUTTONS, ERRORS & WARNING MESSAGES =========================================== */
.back-button{
    border-radius: 9999px;
    background-color: #FF8C00;
    border-style: none;
    color: white;
}
.project-navbar .navbar-nav > li{
    background-color: transparent;
    color: white;
}

.project-navbar .navbar-nav > li > a{
    display: block;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -3px;
}

.project-navbar .navbar-nav > li a:hover{
    background-color: transparent;
    color: white;
}

.project-navbar .navbar-nav > li a:active{
    background-color: transparent;
    color: white;
}

.error-h1{
    font-weight: 800;
    font-size: 20px;
    color: red;
    padding: 10px;
}

.error-m{
    font-weight: 500;
    font-size: 20px;
    color: red;
    padding: 10px;
}

.warning-message{
    display: block;
    visibility: hidden;
    height: 60px;

    padding: 12px;
    top: 60px;

    background-color: whitesmoke;
    border: 1px solid #367ABD;

    box-shadow: 1px 1px 2px #888888;
}

.cp-warning-msg{
    visibility: hidden;
    position: fixed;
    top: 120px;
    right: 20px;
    height: 100px;
    background-color: #e8e8e8;
    border: 2px solid #ff4034;

    padding: 20px;
}