<!DOCTYPE html>
<html ng-app="myApp">
<html>
<head>
    {{>headpart}}
</head>
<body>
<div id="wrapper">
    {{>projectnav}}

    <div id="content">
        <div class="container submit-form">
            <h3 class="content-header text-center">KREIRAJ PROJEKT</h3>
            <form id="login-form" class="content-form text-center">
                <div class="submit-form-fields form-group row">
                    <label for="projectName" class="col-sm-6 form-control-label">Ime projekta</label>
                    <div class="col-sm-6">
                        <input type="text" id="projectName" placeholder="Upisite naziv projekta">
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                    <label for="durationStart" class="col-sm-6 form-control-label">Datum početka projekta</label>
                    <div class="col-sm-6">
                        <input type="date" id="durationStart">
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                    <label for="durationEnd" class="col-sm-6 form-control-label">Datum kraja projekta</label>
                    <div class="col-sm-6">
                        <input type="date" id="durationEnd">
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                        <label class="col-xs-5 col-sm-5 col-md-5 form-control-label">Izaberi IBAN</label>
                        <div>
                            <select class="col-xs-7 col-sm-7 col-md-5"></select>
                        </div>
                </div>
                <hr>
                <div class="submit-form-fields form-group row">
                    <label for="createAccount" class="col-sm-5 col-xs-5 form-control-label">Unesi IBAN</label>
                    <div class="col-xs-7 col-sm-7 col-md-7">
                        <input type="text" id="createAccount" maxlength="21">
                        <button type="button" class="btn btn-primary btn-sm cp-button">+</button>
                    </div>
                </div>
                <div class="submit-form-fields-submit form-group row">
                    <div class="button-section col-sm-12">
                        <button type="button" name="submitProject" id="submit" ng-click="">Prijavi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{>onbodyend}}
</body>
</html>