<!DOCTYPE html>
<html>
<head>
    {{>headpart}}
    <title>Intelligent Project Manager</title>
</head>
<body>
{{>iemnav}}

<h1 class="error-h1">{{message}}</h1>
<h2 class="error-m">{{error.status}}</h2>
<pre class="error-stat">{{error.stack}}</pre>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
