<!DOCTYPE html>
<html>
<head>
    {{>headpart}}
    <title>Intelligent Project Manager</title>
</head>
<body>
{{>iemnav}}

<div class="main-double container">
    <div class="content-register row justify-content-start">
        <h1 class="content-header">PRIJAVA</h1>
        <form id="login-form col-md-12"  method="POST">
            <div class="login-form col-md-5 col-sm-5 col-lg-5 col-md-offset-5 col-sm-offset-4">
                <label for="user-name-email">KorisniÄko ime ili email</label><br>
                <input type="text" name="user-name-email" id="user-name-email" value=""><br>
                <label for="password">Lozinka</label><br>
                <input type="password" name="password" id="password" value=""><br>
            </div>
            <div class="button-section">
                <button type="button" name="register" id="login">Prijavi se</button>
            </div>
        </form>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>