<!DOCTYPE html>
<html ng-app="myApp">
<head>
    {{>headpart}}
    <title>{{project.name}}</title>
</head>
<body>
<div id="wrapper">
    {{>projectnav}}

    <div id="content" ng-controller="showProjectGroup">
        <div id="left-column" class="scroll-area col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <ul class="list-group">
                <li class="list-group-item col-md-3 col-xs-3">Ukupno</li>
                <li class="list-group-item col-md-3 col-xs-3">$$$</li>
                <li class="list-group-item col-md-3 col-xs-3">Nepovezani budžet</li>
                <li class="list-group-item col-md-3 col-xs-3">$$$</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item col-md-6 col-xs-6">Preostali iznos</li>
                <li class="list-group-item col-md-6 col-xs-6">$$$</li>
            </ul>

            <table id="project-table" class="table table-hover">
                <thead class="project-head">
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Budžet</th>
                    <th>Troškovi</th>
                    <th>Preostali iznos</th>
                </tr>
                </thead>
                <tbody>
                <tr class="category-row">
                    <th scope="row">1.</th>
                    <td>Ljudski resursi</td>
                    <td>50000,00</td>
                    <td>0</td>
                    <td>50000,00</td>
                </tr>
                <tr class="sub-category-row1">
                    <th scope="row" class="rowNumSub1">&nbsp;1.1.</th>
                    <td>Plaće</td>
                    <td>100000,00</td>
                    <td>8000,00</td>
                    <td>10000,00</td>
                </tr>
                <tr class="sub-category-row1">
                    <th scope="row" class="rowNumSub1">&nbsp;1.2.</th>
                    <td>Plaće</td>
                    <td>1000,00</td>
                    <td>0</td>
                    <td>1000,00</td>
                </tr>
                <tr class="sub-category-row2">
                    <th scope="row" class="rowNumSub2">&nbsp;&nbsp;1.1.1.</th>
                    <td>Plaće</td>
                    <td>1000,00</td>
                    <td>0</td>
                    <td>1000,00</td>
                </tr>
                <tr class="category-row">
                    <th scope="row">2.</th>
                    <td>Ljudski resursi</td>
                    <td>50000,00</td>
                    <td>0</td>
                    <td>50000,00</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>
                <tr class="category-row">
                    <th scope="row">2.</th>
                    <td>Putovanja</td>
                    <td>10000,00</td>
                    <td>2000,00</td>
                    <td>80000,00</td>
                </tr>
                <tr class="category-row">
                    <th scope="row">3.</th>
                    <td>Oprema i roba</td>
                    <td>4000,00</td>
                    <td>400,00</td>
                    <td>3600,00</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>

                <tr class="category-row">
                    <th scope="row">4.</th>
                    <td>Ostali troškovi i usluge</td>
                    <td>17000,00</td>
                    <td>9600,00</td>
                    <td>7400,00</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>

                <tr class="category-row">
                    <th scope="row">5.</th>
                    <td>Troškovi obavljanja osnovne djelatnosti</td>
                    <td>18000,00</td>
                    <td>17500,00</td>
                    <td>500,00</td>
                </tr>
                <tr class="transaction-row">
                    <th scope="row"></th>
                    <td>02.06.2017.</td>
                    <td>John Doe</td>
                    <td>Lorem ipsum dolores amet i tako dalje...</td>
                    <td>20000</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div id="right-column" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>

    <div id="footer" class="col-md-12 col-xs-12">
        <footer>
            <button type="button" class="btn btn-primary btn-sm footer-button" id="submit">Uredi</button>
        </footer>
    </div>
</div>
</body>
</html>