<!DOCTYPE html>
<html ng-app="myApp">
<head>
    {{>headpart}}
    <title>{{project.name}}</title>
</head>
<body>
<div id="wrapper">
    {{>projectnav}}

    <div id="content" ng-controller="showProjectGroup">
        <div id="left-column" class="scroll-area col-xs-9 col-md-9">
            <ul class="list-group">
                <li class="list-group-item col-md-3 col-xs-3">Ukupno</li>
                <li class="list-group-item col-md-3 col-xs-3">$$$</li>
                <li class="list-group-item col-md-3 col-xs-3">Nepovezani budžet</li>
                <li class="list-group-item col-md-3 col-xs-3">$$$</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item col-md-6 col-xs-6">Preostali iznos</li>
                <li class="list-group-item col-md-6 col-xs-6">$$$</li>
            </ul>

            <table id="project-table" class="table">
                <thead >
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Budžet</th>
                    <th>Troškovi</th>
                    <th>Preostali iznos</th>
                </tr>
                </thead>
                <tbody>
                <tr id="K">
                    <td style="display:none">§kategorija.id_kat§</td>
                    <td class="K1">1</td>
                    <td>kategorija</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="transaction-row">
                    <td colspan="6">
                        <div class="span6">
                            <table>
                                <tbody>
                                <tr>
                                    <td  style="display:none">§trans.about.id_tran§</td>
                                    <td>09.01.2017</td>
                                    <td>PBZ - VISA ELEKTRON DEBITNA KARTICA</td>
                                    <td>POS MOVING SCOPE PARIS 84,00 EUR</td>
                                    <td>-640.08 HRK</td>
                                    <td style="position: absolute; right: 5px" id="rowLink">
                                        <div >
                                            <button style="left: 20px" type="button" class="btn btn-primary remove-button" data-ng-click="removepodkat($parent.$parent.$index,$index,$event);$event.stopPropagation()"><span>-</span></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div id="right-column" class="scroll-area col-xs-3 col-md-3">
            <div id="budget-content-form">
                    <div class="budget-form">
                        <div class="budget-content submit-form-fields form-group row">
                            <label class="form-control-label">Izaberi IBAN</label>
                            <div>
                                <select class="col-xs-10 col-sm-10 col-md-10 float-md-right" ng-model="dropdownIBAN" ng-options="x for x in names"  ng-change="update($index)"></select>
                            </div>
                        </div>
                        <div class="budget-content submit-form-fields form-group row">
                            <label for="createAccount" class="form-control-label">Unesi IBAN</label>
                            <div class="repeatthis">
                                <input type="text" id="createAccount" maxlength="21" ng-model="newIBAN">
                                <button type="button" class="btn btn-primary btn-sm cp-button" ng-click="addIBAN()">+</button>
                            </div>

                            <div class="repeatIBAN" ng-style="showIBANS" ng-repeat="IBAN in IBANS">
                                <input type="text" id="createAccount" maxlength="21" ng-model="IBAN.value" disabled>
                                <button type="button" class="btn btn-primary btn-sm cp-button" ng-model="IBAN.button" ng-click="delIBAN($index)">-</button>
                            </div>

                            <button type="button" class="btn btn-primary" id="submit">
                                <span>Potvrdi</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="footer" class="col-md-12 col-xs-12">
        <footer>
            <button type="button" class="btn btn-primary btn-sm footer-button" id="submit">Uredi</button>
        </footer>
    </div>
</div>
</body>
</html>