<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <style>
        body { font: 13px Helvetica, Arial; }

    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>

<body>
<form action="">
    <input id="something" autocomplete="off" /><button>Send</button>
</form>
<b></b>
<p id="container">
    Ode ide nesto....
</p>
</body>
</html>
