<!DOCTYPE html>
<html ng-app="myApp.controllers">
<head>
    {{>headpart}}
    <link href="style/testtable.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    {{>iemnav}}

    <div id="content" ng-controller="showTables">

        <div id="left-column" class="scroll-area col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <table id="projectEditTable" class="table" >
                <thead >
                <tr>
                    <th>Naziv</th>
                    <th>Trajanje</th>
                    <th>Iznos</th>
                </tr>
                </thead>
                <tbody ng-repeat="project in projects">

                <tr class="clickableRow" data-ng-click="hideTableRow($index,$event)">
                    <td style="display: none">§project.projekt.id§</td>
                    <td>§project.projekt.naziv§</td>
                    <td>§project.projekt.trajanje§</td>
                    <td>§project.projekt.iznos§</td>
                </tr>

                <tr id="categoryTable">
                    <td colspan="5">
                        <div class="span5">

                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Naziv</th>
                                    <th>Budžet</th>
                                    <th>Troškovi</th>
                                    <th>Preostali iznos</th>
                                </tr>
                                </thead>

                                <tbody  ng-repeat="kategorija in project.kategorija track by $index">
                                <tr id="§kategorija.vrstakat§" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                    <td style="display:none">§kategorija.id_kat§</td>
                                    <td class="§kategorija.vrstakat§1">§kategorija.brojkat§</td>
                                    <td>§kategorija.naziv§</td>
                                    <td>§kategorija.budzet§</td>
                                    <td>§kategorija.troskovi§</td>
                                    <td>§kategorija.preostaliiznos§</td>
                                    <td id="rowLink" >
                                        <div style="position: absolute" class="">
                                            <button data-ng-if="kategorija.vrstakat === 'K' " ng-show="hoverEdit" type="button" class="btn btn-primary add-button"><span>+</span></button>
                                            <button ng-show="hoverEdit" style="left: 20px" type="button" class="btn btn-primary remove-button"><span>-</span></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot class="budget-indicator" colspan="3">
                                <tr class="span3">
                                    <td style="display: none">§project.budzet.id_budzet§</td>
                                    <th>Budžet</th>
                                    <td class="text-right">§project.budzet.iznos§</td>
                                    <td style="display:none">§project.budzet.id_prebudzet§</td>
                                    <th>Preostali Budžet</th>
                                    <td colspan="2" class="text-right">§project.budzet.preiznos§</td>
                                </tr>

                                </tfoot>
                            </table>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="right-column" class="scroll-area col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary btn-sm repo-button col-md-offset-5 col-xs-offset-5" id="submit">
                <span class="glyphicon glyphicon-upload"></span>&nbsp;Upload
            </button>

            <table id="transaction-edit-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Partner</th>
                    <th>Opis</th>
                    <th>Iznos</th>
                </tr>
                </thead>
                <tbody ng-repeat="trans in transactions">
                <tr ng-controller="hoverLink" ng-mouseover="open=true" ng-mouseleave="open=false">
                    <th  style="display:none">§trans.about.id_tran§</th>
                    <td>§trans.about.datum§</td>
                    <td>§trans.about.partner§</td>
                    <td>§trans.about.opis§</td>
                    <td style="color: §trans.about.color§; width:20%">§trans.about.iznos§ HRK</td>
                    <td id="rowLink"><button type="button" class="btn btn-primary link-button disenable" ng-show="open"><span class="glyphicon glyphicon-link"></span></button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="footer" class="col-md-12 col-xs-12">
        <footer>
            <button type="button" value="addProject" class="btn btn-primary btn-sm footer-button" id="create"><a href="create-project">Dodaj projekt</a></button>
            <button type="button" value="editPT" class="btn btn-primary btn-sm footer-button" id="edit">Uredi projekte i kategorije</button>
            <button type="button" value="closure" class="btn btn-primary btn-sm footer-button disenable" id="submit">Zaključi projekte i kategorije</button>
            <button type="button" value="assignT" class="btn btn-primary btn-sm footer-button disenable" id="assign">Pridjeli transakcije</button>
        </footer>
    </div>
</div>

{{>onbodyend}}
</body>
</html>